---
name: Update
on:
  schedule:
    - cron: '7 */7 * * *'
  workflow_dispatch:
  pull_request:
permissions:
  contents: write
  pull-requests: write
env:
  IMAGE: "ghcr.io/${{ github.repository }}"
jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Update requirements
        id: update
        run: |
          docker create --name=pip-compile \
          --entrypoint python \
          --interactive \
          --user root \
          --workdir /tmp \
          $IMAGE
          
          docker cp requirements.in pip-compile:/tmp/
          
          docker start --attach --interactive pip-compile < ci/pip_compile.py
          
          mv requirements.txt requirements.txt.orig
          docker cp pip-compile:/tmp/requirements.txt .
          
          docker rm -f pip-compile
          
          if [ -n "$(git status --porcelain requirements.txt)" ]; then
            docker create --name=generate-message \
            --entrypoint python \
            --interactive \
            --workdir /tmp \
            $IMAGE
          
            docker cp requirements.txt.orig generate-message:/tmp/
            rm requirements.txt.orig
            docker cp requirements.txt generate-message:/tmp/
          
            EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
            echo "commit-message<<$EOF" >> "$GITHUB_OUTPUT"
            docker start --attach --interactive generate-message < ci/generate_message.py >> "$GITHUB_OUTPUT"
            echo "$EOF" >> "$GITHUB_OUTPUT"
          
            docker rm -f generate-message
          fi
